<!-- {{user.login}}
<img src={{user.avatar_url}} /> -->


<div class="card" style="width: 18rem; float: left; margin-right: 2rem;">
    <img src={{user.avatar_url}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.login}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href={{user.html_url}} target="_blank" class="btn btn-primary">View Profile</a>
    </div>
</div>